* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #232323;
  font-family: 'Noto Serif JP', serif;
}

body ::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 12px;
}

body ::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

body ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body ::-webkit-input-placeholder, html ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1;
  /* Firefox */
}

body :-ms-input-placeholder, html :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1;
  /* Firefox */
}

body ::-ms-input-placeholder, html ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1;
  /* Firefox */
}

body ::placeholder, html ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1;
  /* Firefox */
}

body :-ms-input-placeholder, html :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c4c4c4;
}

body ::-ms-input-placeholder, html ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c4c4c4;
}

.col-in-block {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.filmes {
  color: #fff;
  padding: 15px;
  min-height: 450px;
  position: relative;
  text-align: center;
}

.filmes .btn-down {
  margin: 25px 0;
}

.filmes .btn-down a {
  font-size: 14px;
  padding: 14px 14px;
  margin: 0 15px;
  text-decoration: none;
  border-radius: 15px;
  background-color: #db1d3f;
  color: #fff;
  display: inline-block;
}

.filmes .btn-down a:first-child {
  background-color: #1d1e32;
}

.filmes h2 {
  font-size: 15px;
}

.fs-0 {
  font-size: 0;
}

.active {
  border-bottom: 2px solid #db1d3f;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-0 {
  padding: 0;
}

.m-w {
  max-width: 100%;
}

.v-top {
  vertical-align: top;
}

.main-container {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.main-container .nav-bar {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 1;
}

.main-container .nav-bar .logo h1 {
  margin: 0;
  color: #fff;
}

.main-container .nav-bar .logo h1 a {
  color: #fff;
  text-decoration: none;
}

.main-container .nav-bar .menu ul {
  list-style: none;
  margin: 0;
}

.main-container .nav-bar .menu ul li {
  display: inline-block;
  padding: 24px 24px;
  position: relative;
}

.main-container .nav-bar .menu ul li:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 4px;
  background-color: #db1d3f;
}

.main-container .nav-bar .menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.main-container .nav-bar .menu ul li:last-child {
  background-color: #db1d3f;
  padding: 15px;
  border-radius: 25px;
}

.main-container .nav-bar .menu ul li:last-child:hover {
  background-color: #e64562;
}

.main-container .nav-bar .menu ul li:last-child:hover:before {
  content: none;
}

.main-container .main-banner {
  height: 50vh;
  width: 100%;
  background-color: #232323;
  background-image: url("https://image.tmdb.org/t/p/original//vVpEOvdxVBP2aV166j5Xlvb5Cdc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-container .main-banner .over {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.7);
}

.main-container .movies-wrapper {
  width: 100%;
}

.main-container .movies-wrapper .info-text {
  width: 100%;
  display: none;
}

.main-container .movies-wrapper .info-text h2 {
  color: #fff;
  letter-spacing: 2px;
  padding: 24px 14px;
  text-align: center;
}

.main-container .movies-wrapper .choose-type {
  width: 100%;
  background-color: #1d1e32;
}

.main-container .movies-wrapper .choose-type ul.types {
  list-style: none;
  margin-bottom: 0;
}

.main-container .movies-wrapper .choose-type ul.types li {
  display: inline-block;
  padding: 0px 40px 10px;
}

.main-container .movies-wrapper .choose-type ul.types li h3 {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.main-container .movies-wrapper .choose-category {
  background-color: rgba(51, 51, 51, 0.4);
  width: 100%;
}

.main-container .movies-wrapper .choose-category .search {
  padding: 14px;
  color: #fff;
  text-align: center;
}

.main-container .movies-wrapper .choose-category .search h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.main-container .movies-wrapper .choose-category .search input {
  padding: 10px;
  border-radius: 25px;
  border: 0;
  outline: 0;
  width: 90%;
  background-color: rgba(51, 51, 51, 0.7);
}

.main-container .movies-wrapper .choose-category .search button {
  padding: 10px;
  background-color: #db1d3f;
  color: #fff;
  border: none;
  margin: 15px 0;
  outline: none;
  width: 100%;
  border-radius: 25px;
}

.main-container .movies-wrapper .choose-category .show-genre-list {
  padding: 15px 0;
}

.main-container .movies-wrapper .choose-category .show-genre-list ul {
  list-style: none;
  text-align: center;
}

.main-container .movies-wrapper .choose-category .show-genre-list ul li {
  padding: 14px 5px;
}

.main-container .movies-wrapper .choose-category .show-genre-list ul li:hover {
  background-color: #db1d3f;
}

.main-container .movies-wrapper .choose-category .show-genre-list ul li a {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.main-container .movie-info {
  min-height: 100vh;
  width: 100%;
}

.main-container .movie-info .wrapper-info {
  height: 100%;
  width: 100%;
}

.main-container .movie-info .wrapper-info .banner-movie-img {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.main-container .movie-info .wrapper-info .banner-movie-img .banner-opacity {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-container .movie-info .wrapper-info .movie-info-info {
  margin-top: -180px;
  text-align: center;
}

.main-container .movie-info .wrapper-info .movie-info-info a {
  display: block;
  padding: 14px 4px;
  background-color: #db1d3f;
  margin: 15px auto;
  text-decoration: none;
  color: #fff;
  width: 72%;
  border-radius: 25px;
}

.main-container .movie-info .wrapper-info .movie-information h1 {
  color: #fff;
}

.main-container .movie-info .wrapper-info .movie-information .show-genres-span ul {
  list-style: none;
}

.main-container .movie-info .wrapper-info .movie-information .show-genres-span ul li {
  display: inline-block;
  padding: 8px 14px 10px 0;
}

.main-container .movie-info .wrapper-info .movie-information .show-genres-span ul li p {
  color: #fff;
  font-size: 10px;
  padding: 10px;
  background-color: #db1d3f;
  cursor: pointer;
}

.main-container .movie-info .wrapper-info .movie-information p.movie-overview {
  color: #c4c4c4;
  line-height: 34px;
  text-align: justify;
}

.main-container .movie-info .wrapper-info .movie-information .movie-misc {
  padding: 50px 0px;
  font-size: 14px;
  color: #fff;
}

.main-container .movie-info .wrapper-info .movie-information .movie-misc h2 {
  font-size: 15px;
}

.main-container .movie-info .wrapper-info .movie-information .movie-misc h2 span {
  color: #db1d3f;
}

.main-container .movie-info .wrapper-info .movie-information .movie-misc .movie-vote span {
  font-size: 10px;
}

@media (max-width: 992px) {
  .main-container .movie-info .wrapper-info .movie-information .movie-misc {
    text-align: center;
  }
}

.main-container .movie-info .trailer-wrapper {
  width: 100%;
  margin: 25px 0;
}

@media (max-width: 650px) {
  .main-container .movie-info .trailer-wrapper {
    display: none;
  }
}

.main-container .movie-info .trailer-wrapper iframe {
  margin: 0 auto;
  display: block;
}

.main-container .pricing-movie {
  width: 100%;
  padding: 100px 0;
}

.main-container .pricing-movie .type-buy {
  list-style: none;
}

.main-container .pricing-movie .type-buy li {
  padding: 24px 10px;
  background-color: #db1d3f;
  border-radius: 25px;
  margin: 10px 0;
  text-align: center;
}

.main-container .pricing-movie .type-buy li a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}

.main-container .pricing-movie .box {
  background-color: rgba(51, 51, 51, 0.4);
  font-size: 14px;
  color: #fff;
  padding-bottom: 15px;
}

.main-container .pricing-movie .box h2 {
  margin: 10px;
  padding: 15px 0;
  letter-spacing: 2px;
  font-weight: 900;
}

.main-container .pricing-movie .box span {
  margin-left: 10px;
  font-size: 40px;
  color: #db1d3f;
}

.main-container .pricing-movie .box ul {
  list-style: none;
  margin: 50px 0;
}

.main-container .pricing-movie .box ul li {
  padding: 10px 0;
}

.main-container .pricing-movie .box a {
  padding: 14px;
  background-color: #ffffff;
  width: 70%;
  margin: 0 auto;
  display: block;
  border-radius: 25px;
  text-decoration: none;
}

.main-container .pricing-movie .box-1 .box-header {
  background-color: #db1d3f;
}

.main-container .pricing-movie .box-1 span {
  color: #232323;
}

.main-container .pricing-movie .box-1 a {
  background-color: #db1d3f;
  color: #232323;
}

.main-container .pricing-movie .box-1 a:hover .box-1 {
  background-color: #db1d3f;
}

.main-container .pricing-movie .box-2 .box-header {
  background-color: #1d1e32;
}

.main-container .pricing-movie .box-2 span {
  color: #fff;
}

.main-container .pricing-movie .box-2 a {
  background-color: #1d1e32;
  color: #fff;
}

.main-container .pricing-movie .box-3 .box-header {
  background-color: #fff;
  color: #232323;
}

.main-container .pricing-movie .box-3 span {
  color: #232323;
}

.main-container .pricing-movie .box-3 a {
  background-color: #fff;
  color: #232323;
}

.main-container .similar-movies {
  padding: 100px 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-container .similar-movies .over {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.7);
}

.main-container .similar-movies .get-plan {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.main-container .similar-movies .get-plan p {
  font-size: 24px;
}

.main-container .similar-movies .get-plan a {
  padding: 7px;
  border: none;
  border-radius: 25px;
  background-color: #db1d3f;
  margin: 15px 0;
  text-decoration: none;
  color: #fff;
  display: block;
}

.main-container .search-wrapper {
  min-height: 100vh;
  width: 100%;
}

.main-container .search-wrapper .show-query-results h2 {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.main-container .search-wrapper .show-query-results h2 span {
  color: #db1d3f;
}

.main-container .search-wrapper .search-results {
  margin: 15px 0;
  padding: 25px 0;
  -webkit-box-shadow: 1px 21px 41px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 21px 41px 8px rgba(0, 0, 0, 0.75);
}

.main-container .search-wrapper .search-results h2 {
  color: #fff;
}

.main-container .search-wrapper .search-results p {
  font-size: 14px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
}

.main-container .search-wrapper .search-results a {
  font-size: 14px;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
  background-color: #db1d3f;
  color: #fff;
  margin: 25px 25px 25px 0;
  width: 25%;
  text-align: center;
}

.main-container .search-wrapper .search-results a:last-child {
  background-color: #1d1e32;
}

@media (max-width: 992px) {
  .main-container .search-wrapper .search-results {
    text-align: center;
  }
  .main-container .search-wrapper .search-results p {
    text-align: justify;
  }
}

.main-container .fixed-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #232323;
  color: #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main-container .search-again {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-container .search-again h3 {
  font-size: 44px;
  color: #db1d3f;
  text-align: center;
}

.main-container .search-again input {
  padding: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #232323;
  width: 100%;
  color: #fff;
}

.main-container .search-again button {
  padding: 10px;
  background-color: #db1d3f;
  color: #fff;
  border: none;
  margin: 15px 0;
  outline: none;
  width: 100%;
  border-radius: 25px;
}

.main-container .search-again button:hover {
  background-color: #e64562;
}

.main-container .not-query {
  width: 100%;
  padding: 50px 0;
}

.main-container .not-query h1 {
  text-align: center;
  color: #fff;
  padding: 0 0 20px;
}

.main-container .not-query ul {
  width: 25%;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

.main-container .not-query ul li {
  padding: 8px;
}

.main-container .not-query ul li a {
  display: block;
  background-color: #db1d3f;
  padding: 14px;
  color: #fff;
}

.main-container .not-query .search-example img {
  height: 400px;
  width: 400px;
}

.main-container .not-query .bottom-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #db1d3f;
  text-align: center;
  color: #fff;
  padding: 14px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main-container .not-query .bottom-info a {
  color: #fff;
  display: block;
}

.main-container .not-query .bottom-info p {
  display: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
}

.main-container .not-query .bottom-info:hover {
  top: 0;
  background-color: rgba(219, 29, 63, 0.6);
}

.main-container .not-query .bottom-info:hover p {
  display: block;
}

.main-container .not-query .bottom-info:hover a {
  position: absolute;
  background-color: #fff;
  padding: 14px;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
}

.main-container .not-query .actors {
  background-image: url("https://ovicio.com.br/wp-content/uploads/2019/05/20190518-johnwick-anatomy-videosixteenbyninejumbo1600-v2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
}

.main-container .not-query .movies-sear {
  background-image: url("https://pbs.twimg.com/media/D51Xw9OW0AEv-_D.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
}

.main-container .not-query .tv-sear {
  background-image: url("https://i2.wp.com/www.showmetech.com.br/wp-content/uploads//2019/05/13771.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
}

.main-container .footer {
  padding: 25px 0;
  background-color: #3d3d3d;
  font-size: 14px;
}

.main-container .append-me div.display_season_info {
  display: none;
  padding: 25px 0;
}

.main-container .append-me div.display_season_info p {
  font-size: 14px;
  line-height: 24px;
  color: #c4c4c4;
  text-align: justify;
}

@media (max-width: 992px) {
  .main-container .append-me div.display_season_info {
    text-align: center;
  }
}

.main-container .show-tv-seasons {
  margin-top: 25px;
}

.main-container .nav-tabs {
  background-color: #1d1e32;
}

.main-container .nav-tabs a {
  color: #fff;
}

.main-container .nav-tabs a:hover {
  background-color: #db1d3f;
  border: none;
}

.main-container .nav-tabs a.active {
  background-color: #db1d3f;
  color: #fff;
}

@media (max-width: 768px) {
  .main-container .nav-tabs li {
    width: 100%;
  }
}

.main-container .images-person .row div img {
  display: inline-block;
}

.main-container .login-wrapper {
  height: 100vh;
  width: 100%;
  background-image: url("https://image.tmdb.org/t/p/original//vVpEOvdxVBP2aV166j5Xlvb5Cdc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-container .login-wrapper .opa {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.8);
}

.main-container .login-wrapper .login-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-container .login-wrapper .login-middle form input {
  display: block;
  padding: 14px;
  margin: 15px 0;
  border: none;
  outline: none;
  background-color: #232323;
  color: #fff;
}

.main-container .login-wrapper .login-middle form h2 {
  color: #fff;
  font-weight: 900;
}

.main-container .login-wrapper .login-middle form h2 span {
  color: #db1d3f;
}

.main-container .login-wrapper .login-middle form a {
  display: block;
  text-align: center;
  margin: 5px 0;
  color: #fff;
}

.main-container .login-wrapper .login-middle form button {
  width: 100%;
  margin: 25px 0;
  background-color: #db1d3f;
  padding: 14px;
  border: none;
  border-radius: 25px;
  color: #fff;
}

.main-container .login-wrapper .login-middle form button:hover {
  background-color: #e64562;
}

.main-container .sign-up-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main-container .sign-up-wrapper .sign-wallpaper {
  height: 100vh;
  width: 100%;
  background-image: url("https://coverfiles.alphacoders.com/960/96071.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-container .sign-up-wrapper .opa {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.8);
}

.main-container .sign-up-wrapper .sign-form {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main-container .sign-up-wrapper .sign-form form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-container .sign-up-wrapper .sign-form form input {
  display: block;
  padding: 14px;
  margin: 15px 0;
  border: 2px solid #db1d3f;
  outline: none;
  background-color: #232323;
  color: #fff;
}

.main-container .sign-up-wrapper .sign-form form button {
  width: 100%;
  margin: 25px 0;
  background-color: #db1d3f;
  padding: 14px;
  border: none;
  border-radius: 25px;
  color: #fff;
  outline: none;
}

.main-container .sign-up-wrapper .sign-form form button:hover {
  background-color: #e64562;
}

.main-container .sign-up-wrapper .sign-form form h2 {
  color: #fff;
  font-weight: 900;
}

.main-container .sign-up-wrapper .sign-form form p {
  color: #fff;
  font-weight: 400;
}
